.container{
    background-color: $color-secondary;
    display: flex;
    flex-grow:1;
    justify-content: space-around;
    flex-direction: column;
    margin: 2%;
}
.rectangle{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-grow:1;
    margin: 2%;
    .menu{
        width: 310px;
        height: 520px;
        margin: 20px;
        a{
            text-decoration: none;
            position: relative;
            transition: transform 450ms, background-color 300ms 150ms;
            opacity: 0.75;
            -webkit-transition: .3s ease-in-out;
            transition: .3s ease-in-out;
            &:hover {
            transform: scale(1.10);
            opacity: 2;  
            }
        }
        .menu__heading, .menu3__heading, .menu4__heading{
            font-size: 2.5em;
            font-family: $font-menu;
            text-transform: capitalize;
            font-style: italic;
        }
        .menu__heading{
            text-transform: uppercase;
        }
        .menu2__heading,{
            font-size: 2.5em;
            text-transform: capitalize;
            font-style: italic;
        }
    }
}    
.soon{
    margin: auto;
    color: $color-title;
    background-color: $color-primary;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 10px;
    transition: transform 450ms, background-color 300ms 150ms;
    &:hover{
        font-weight: bold;
        opacity: 1;
    }
}

#menu1{
    @include menu-style ($font-note, $color-menu1, $color-note)
}
#menu2{
    @include menu-style ($font-chic, $color-menu2, $color-chic)
}
#menu3{
    @include menu-style ($font-delice, $color-menu3, $color-delice)
}
#menu4{
    @include menu-style ($font-palette, $color-menu4, $color-palette)
}

h4{
    font-size: 2em;
    margin: 1em;
    text-align: center;
}
    
.sous_menu{
    display: flex;
    flex-direction: column;
    margin: 5%;
    margin-top: 0;
    padding-top: 5%;
    h2{
        font-size: 2em;
        padding-bottom: 5%;
    }
    .menu__byline-big{
        font-size: 3em;
    }
    h3{
        font-size:1.8em;
    }
    .sous_menu__plat{
    width: 80%;
    padding-top: 5%;
    padding-bottom: 10%;
        ul
        {
            list-style-type: none;
            padding: 0;
            margin: 0;
            li{
                display: flex;
                justify-content: space-between;
                font-size: 1.5em;
            }
        }
    }   
    .menu__byline-small{
        display: flex;
        padding-bottom: 5%;
        h2{
            margin: 0;
            margin-left:20px;padding-top: 0;
        }
    }
}


.sous_menu__title{
width: 50%;
height:1rem;
margin:auto;
text-align:center;
position:relative; }

.sous_menu__title:before{
content:'';
position:absolute;
left:calc(-30% - 5px);
top:calc(50% - 3px);
width:40%;
border-bottom:5px solid grey;
}   

.sous_menu__title:after{
content:'';
position:absolute;
right:calc(-30% - 5px);
top:calc(50% - 3px);
width:40%;
border-bottom:5px solid grey;
}

.fas {
    color: $color-music;
    font-size: 30px;
}

#fas-big {
    font-size: 60px;
}


/* Grand écran */

@media all and (min-device-width: 2560px) {
    h4{
        font-size: 3em;
    }
    #fas-big {
        font-size: 100px;
    }
    .sous_menu{
        .menu__byline-big{
            font-size: 3.5em;
        }
        h3, h2{
            font-size: 3em;
        }
        .sous_menu__plat ul li{
            font-size: 2.5em;
        }
    } 
    .fas{
        font-size: 50px;
    }
}

/* Petit écran */

@media all and (max-device-width: 1024px) {

}

/* Tablette */

@media all and (max-device-width: 768px){
    h4{
        font-size: 1.5em;
    }
    #fas-big {
        font-size: 40px;
    }
    .sous_menu{
        .menu__byline-big{
            font-size: 2.5em;
        }
        h3, h2{
            font-size: 2em;
        }
        .sous_menu__plat ul li{
            font-size: 1em;
        }
    } 
    .fas{
        font-size: 25px;
    }
}


/* Mobile */

@media all and (max-device-width: 425px){
    h4{
        font-size: 1.2em;
    }
    #fas-big {
        font-size: 30px;
    }
    .sous_menu{
        .menu__byline-big{
            font-size: 1.8em;
        }
        h3, h2{
            font-size:1.2em;
        }
        .sous_menu__plat ul li{
            font-size:0.8em;
        }
    } 
    .fas{
        font-size: 20px;
    }
}

/* Petit Mobile */

@media all and (max-device-width: 375px){
    h4{
        font-size: 1em;
    }
    #fas-big {
        font-size: 20px;
    }
    .sous_menu{
        .menu__byline-big{
            font-size: 1.5em;
        }
        h3, h2{
            font-size:1em;
        }
        .sous_menu__plat ul li{
            font-size:0.6em;
        }
    } 
    .fas{
        font-size: 15px;
    }
}