.container{
    background-color: $color-secondary;
    display: flex;
    flex-grow:1;
    justify-content: space-around;
    flex-direction: column;
    margin: 2%;
    .rectangle{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-grow:1;
        margin: 2%;
    }
        section{
            width: 20%;
        }
    .soon{
        margin: auto;
        color: $color-title;
        background-color: $color-primary;
        padding-left: 5%;
        padding-right: 5%;
        border-radius: 10%;
    }
}

#menu1{
    font-family: $font-note;
    background-color: $color-menu1;
}

#menu2{
    font-family: $font-chic;
    background-color: $color-menu2;
}

#menu3{
    font-family: $font-delice;
    background-color: $color-menu3;
}

#menu4{
    font-family: $font-palette;
    background-color: $color-menu4;
}
