@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Croissant+One&family=Devonshire&family=Merienda&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
body {
  margin: 0;
  font-family: "Roboto";
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #579c87;
  display: flex;
  justify-content: center;
}
.header h1 {
  color: #fdcb46;
}
.header a {
  color: #fdcb46;
  text-decoration: none;
}

.container {
  background-color: white;
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  flex-direction: column;
  margin: 2%;
}

.rectangle {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-grow: 1;
  margin: 2%;
}
.rectangle .menu {
  width: 310px;
  height: 520px;
  margin: 20px;
}
.rectangle .menu a {
  text-decoration: none;
  position: relative;
  transition: transform 450ms, background-color 300ms 150ms;
  opacity: 0.75;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.rectangle .menu a:hover {
  transform: scale(1.1);
  opacity: 2;
}
.rectangle .menu .menu__heading, .rectangle .menu .menu3__heading, .rectangle .menu .menu4__heading {
  font-size: 2.5em;
  font-family: "Ubuntu", cursive;
  text-transform: capitalize;
  font-style: italic;
}
.rectangle .menu .menu__heading {
  text-transform: uppercase;
}
.rectangle .menu .menu2__heading {
  font-size: 2.5em;
  text-transform: capitalize;
  font-style: italic;
}

.soon {
  margin: auto;
  color: #fdcb46;
  background-color: #579c87;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 10px;
  margin-bottom: 5%;
  display: flex;
  /* Animation 3 petits points */
}
.soon p {
  font-weight: bold;
  font: 300 5em/150%;
}
.soon .loading:after {
  content: " .";
  animation: dots 1.5s steps(5, end) infinite;
}

@keyframes dots {
  0%, 20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: white;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    text-shadow: 0.25em 0 0 white, 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  80%, 100% {
    text-shadow: 0.25em 0 0 white, 0.5em 0 0 white;
  }
}
/* Mixins spécificités menus */
#menu1 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Devonshire", cursive;
  background-color: #fcdfdb;
  color: #3d1319;
  -webkit-box-shadow: 0px 0px 10px 1px #ccc4cc;
  -moz-box-shadow: 0px 0px 10px 1px #ccc4cc;
  box-shadow: 0px 0px 10px 1px #ccc4cc;
}
#menu1 a {
  color: #3d1319;
}

#menu2 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Croissant One", cursive;
  background-color: #fff5fe;
  color: #c77412;
  -webkit-box-shadow: 0px 0px 10px 1px #ccc4cc;
  -moz-box-shadow: 0px 0px 10px 1px #ccc4cc;
  box-shadow: 0px 0px 10px 1px #ccc4cc;
}
#menu2 a {
  color: #c77412;
}

#menu3 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Allura", cursive;
  background-color: #f9f9f9;
  color: #0887fb;
  -webkit-box-shadow: 0px 0px 10px 1px #ccc4cc;
  -moz-box-shadow: 0px 0px 10px 1px #ccc4cc;
  box-shadow: 0px 0px 10px 1px #ccc4cc;
}
#menu3 a {
  color: #0887fb;
}

#menu4 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Merienda", cursive;
  background-color: #fdfffd;
  color: #72bf56;
  -webkit-box-shadow: 0px 0px 10px 1px #ccc4cc;
  -moz-box-shadow: 0px 0px 10px 1px #ccc4cc;
  box-shadow: 0px 0px 10px 1px #ccc4cc;
}
#menu4 a {
  color: #72bf56;
}

.menu2__byline, #menu__byline-big2 {
  background: linear-gradient(to right, #c77412 0%, #330867 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu3__byline, #menu__byline-big3 {
  background: linear-gradient(to right, #060699 0%, #0887fb 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu4__byline, #menu__byline-big4 {
  background: linear-gradient(to right, #72bf56 0%, #dbdb25 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h4 {
  font-size: 2em;
  margin: 1em;
  text-align: center;
}

.sous_menu {
  display: flex;
  flex-direction: column;
  margin: 5%;
  margin-top: 0;
  padding-top: 5%;
}
.sous_menu h2 {
  font-size: 2em;
  padding-bottom: 5%;
}
.sous_menu .menu__byline-big {
  font-size: 3em;
}
.sous_menu h3 {
  font-size: 1.7em;
}
.sous_menu .sous_menu__plat {
  width: 80%;
  padding-top: 5%;
  padding-bottom: 10%;
}
.sous_menu .sous_menu__plat ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.sous_menu .sous_menu__plat ul li {
  display: flex;
  justify-content: space-between;
  font-size: 1.3em;
}
.sous_menu .menu__byline-small {
  display: flex;
  padding-bottom: 5%;
}
.sous_menu .menu__byline-small h2 {
  margin: 0;
  margin-left: 20px;
  padding-top: 0;
}

.sous_menu__title {
  width: 50%;
  margin: auto;
  text-align: center;
  position: relative;
}

.sous_menu__title:before {
  content: "";
  position: absolute;
  left: calc(-30% - 5px);
  top: calc(50% - 3px);
  width: 40%;
  border-bottom: 4px solid grey;
}

.sous_menu__title:after {
  content: "";
  position: absolute;
  right: calc(-30% - 5px);
  top: calc(50% - 3px);
  width: 40%;
  border-bottom: 4px solid grey;
}

.fas {
  color: #f16062;
  font-size: 30px;
}

#fas-big {
  font-size: 60px;
}

/* Animation titre menu */
.sous_menu .sous_menu__title span {
  position: relative;
}
.sous_menu .sous_menu__title span:after {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: grey;
  transition: width 0.5s ease-out;
  -webkit-transition: width 0.5s ease-out;
}
.sous_menu .sous_menu__title span:hover:after {
  width: 100%;
  left: 0;
  background: grey;
}

/* Grand écran */
@media all and (min-width: 2560px) {
  h4 {
    font-size: 3em;
  }

  #fas-big {
    font-size: 100px;
  }

  .sous_menu .menu__byline-big {
    font-size: 3.5em;
  }
  .sous_menu h3, .sous_menu h2 {
    font-size: 3em;
  }
  .sous_menu .sous_menu__plat ul li {
    font-size: 2.5em;
  }

  .fas {
    font-size: 50px;
  }
}
/* écran normal */
@media all and (max-width: 1280px) {
  #menu2 .menu__byline-big {
    font-size: 1.5em;
  }
  #menu2 h3 {
    font-size: 1.1em;
  }
  #menu2 .sous_menu__plat ul li {
    font-size: 0.8em;
  }

  #menu4 .menu__byline-big {
    font-size: 1.5em;
  }
  #menu4 h3 {
    font-size: 0.9em;
  }
  #menu4 .sous_menu__plat ul li {
    font-size: 0.6em;
  }
}
/* Petit écran */
@media all and (max-width: 1024px) {
  .rectangle {
    flex-wrap: wrap;
  }

  .soon {
    margin-bottom: 10%;
  }
}
/* Tablette */
@media all and (max-width: 768px) {
  h4 {
    font-size: 1.5em;
  }

  #fas-big {
    font-size: 40px;
  }

  .sous_menu .menu__byline-big {
    font-size: 2em;
  }
  .sous_menu h3, .sous_menu h2 {
    font-size: 1.4em;
  }
  .sous_menu .sous_menu__plat ul li {
    font-size: 0.8em;
  }

  #menu2 .menu__byline-big {
    font-size: 1.4em;
  }
  #menu2 h3 {
    font-size: 0.75em;
  }
  #menu2 .sous_menu__plat ul li {
    font-size: 0.4em;
  }

  #menu4 .menu__byline-big {
    font-size: 1.3em;
  }
  #menu4 h3 {
    font-size: 0.7em;
  }
  #menu4 .sous_menu__plat ul li {
    font-size: 0.4em;
  }

  .fas {
    font-size: 25px;
  }

  .soon {
    margin-bottom: 15%;
  }
}
/* Mobile */
@media all and (max-width: 425px) {
  h4 {
    font-size: 1.2em;
  }

  #fas-big {
    font-size: 30px;
  }

  #menu2 .menu__byline-big {
    font-size: 0.7em;
  }
  #menu2 h3 {
    font-size: 0.4em;
  }
  #menu2 .sous_menu__plat ul li {
    font-size: 0.35em;
  }

  #menu4 .menu__byline-big {
    font-size: 1.3em;
  }
  #menu4 h3 {
    font-size: 0.7em;
  }
  #menu4 .sous_menu__plat ul li {
    font-size: 0.4em;
  }

  .sous_menu .menu__byline-big {
    font-size: 1.4em;
  }
  .sous_menu h3, .sous_menu h2 {
    font-size: 0.8em;
  }
  .sous_menu .sous_menu__plat ul li {
    font-size: 0.6em;
  }

  .fas {
    font-size: 20px;
  }

  .soon {
    margin-bottom: 20%;
  }
}
/* Petit Mobile */
@media all and (max-width: 375px) {
  h4 {
    font-size: 1em;
  }

  #fas-big {
    font-size: 20px;
  }

  #menu2 .menu__byline-big {
    font-size: 0.9em;
  }
  #menu2 h3 {
    font-size: 0.45em;
  }
  #menu2 .sous_menu__plat ul li {
    font-size: 0.3em;
  }

  #menu4 .menu__byline-big {
    font-size: 1.4em;
  }
  #menu4 h3 {
    font-size: 0.7em;
  }
  #menu4 .sous_menu__plat ul li {
    font-size: 0.35em;
  }

  .sous_menu .menu__byline-big {
    font-size: 1.4em;
  }
  .sous_menu h3, .sous_menu h2 {
    font-size: 0.8em;
  }
  .sous_menu .sous_menu__plat ul li {
    font-size: 0.55em;
  }

  .fas {
    font-size: 15px;
  }
}
.footer {
  background-color: #579c87;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0%;
  width: 100%;
}
.footer .nav {
  width: 100%;
}
.footer ul {
  color: #fdcb46;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
.footer a {
  color: #fdcb46;
  text-decoration: none;
  display: block;
}
.footer a:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/*# sourceMappingURL=style.css.map */
