$color-primary: rgb(87,156,135); 
$color-secondary: rgb(255,255,255);
$color-title: rgb(253,203,70);
$color-menu1: rgb(252,223,219);
$color-menu2: rgb(255,245,254);
$color-menu3: rgb(249,249,249);
$color-menu4: rgb(253,255,253);